.ogl-bill {
    font-size: 24px;
    color: @graytext;
}

.invoice {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 51px;

    &--history {

        .card-inv {
            background: #FFF5F5;
            box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
            border-radius: 30px;

            table {
                width: 687px;
                padding: 5px 20px;

                tbody tr {
                    padding: 20px;
                    cursor: pointer;

                    &:hover,
                    &:focus {
                        background: #ffffff;

                    }
                }

                th {
                    padding: 10px;
                    color: rgba(29, 35, 67, 0.47);

                }

                td {
                    display: table-cell;
                    vertical-align: inherit;
                    text-align: center;
                    padding: 5px 20px;
                    color: @graybox;
                }

                .status {
                    width: 71px;
                    height: 24px;
                    border-radius: 16px;
                    text-transform: capitalize;

                    &.paid {
                        background: @greenicon;
                    }

                    &.unpaid {
                        background: @coralicon;

                    }
                }
            }


        }
    }

    .curr {
        width: 285px;
        background: #FFF5F5;
        box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.14);
        border-radius: 30px;
        padding: 10px;

        .pay {
            width: 104px;
            height: 35px;
            background: #EE777F;
            border-radius: 21px;
            font-size: 18px;
            color: @white;
            display: flex;
            justify-content: center;
            margin: 0 auto;
            align-items: center;
        }

        .typetext {
            font-size: 16px;
            color: @graytext;
            margin-bottom: 11px;
        }

        .card-curr {

            .curr-line {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
            }
        }

        .card-bottom {

            .bottom-line {
                display: flex;
                flex-direction: row;
                justify-content: flex-end;

                .typetext {
                    margin-right: 30px;
                }
            }
        }
    }
}

.chart {

    .line-chartogl {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
        max-width: 1011px;
        width: 100%;

        .legend {

            &-card {
                display: inline-flex;
                flex-direction: row;
                align-items: center;
                margin-right: 15px;


                span {
                    width: 22px;
                    height: 22px;
                    border-radius: 50%;
                    display: inline-block;
                    margin-right: 13px;

                    &.coral {
                        background: @coralicon;
                    }

                    &.blue {
                        background: @blueicon
                    }

                    &.green {
                        background: @greenicon;
                    }
                }
            }
        }

    }


}

#grafic {
    width: 1011px;
    height: 258px;
}

#graf {
    height: 350px !important;
    width: 1011px;
}
