.members {

    &-part {
        h2 {
            font-size: 48px;
            margin-bottom: 26px;
        }
    }

    &--card {

        .card--top {
            background: @coralicon;

            svg {
                fill: @white;
                width: 87px;
                height: 87px;
            }
        }
    }
}
